/* HomePage.jsx*/
.carousel-container {
    width: 100%; /* Ancho del contenedor del carrusel */
    max-width: 300px; /* Ancho máximo deseado */
    height: 450px; /* Alto deseado */
    overflow: hidden; /* Para asegurar que el carrusel no desborde el contenedor */
  }

.home
{
    border: 1px solid dark;
    padding: 10px;
    width: 100px; 
    max-width: 300px; /* Ancho máximo deseado */
    height: 540px; /* Alto deseado */
}


.cardRetos{
    width: 100%;
    height: 400px !important;
}

.imagen-reto{

    width: 200px; /* Ancho deseado */
    height: 170px; /* Alto deseado */
    object-fit: cover; /* Mantener proporciones de aspecto */
}
